<% content_for :title do %>
  Meus Anúncios
<% end %>

<% @ads.each do |ad| %>
  <div style="float: left; margin-right: 2em;">
    <h3 class="title-text text-center"><%= ad.title.capitalize %></h3>
    <%= link_to(image_tag(ad.photo.thumb.url), ad) %>
    <div class="retangle">
      <p class="text-center"><%= number_to_currency(ad.price, :unit => "R$", :separator => ",", :delimiter => ".", :format => "%u %n") %></p>
    </div>
    <ul class="list-inline text-center">
    <li><%= link_to 'Editar'.html_safe, edit_ad_path(ad) %></li>
    <li><%= link_to 'Excluir'.html_safe, ad, method: :delete, data: { confirm: 'Tem certeza?' } %></li>
    </ul>
  </div>
<% end %>
